<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">#Vis4PandEmRes</a>
    <a class="c-navigation__item {% if page.url == '/cfp/' %}is-active{% endif %}" href="{{ "/cfp/" | prepend: site.baseurl }}">CfP</a>
    <a class="c-navigation__item {% if page.url == '/dates/' %}is-active{% endif %}" href="{{ "/dates/" | prepend: site.baseurl }}">Important Dates</a>
	<a class="c-navigation__item {% if page.url == '/papers/' %}is-active{% endif %}" href="{{ "/papers/" | prepend: site.baseurl }}">Papers</a>
	<a class="c-navigation__item {% if page.url == '/bulletins/' %}is-active{% endif %}" href="{{ "/bulletins/" | prepend: site.baseurl }}">Bulletins</a>
	<a class="c-navigation__item {% if page.url == '/keynote/' %}is-active{% endif %}" href="{{ "/keynote/" | prepend: site.baseurl }}">Keynote</a>
	<a class="c-navigation__item {% if page.url == '/schedule/' %}is-active{% endif %}" href="{{ "/schedule/" | prepend: site.baseurl }}">Schedule</a>
    <a class="c-navigation__item {% if page.url == '/organizers/' %}is-active{% endif %}" href="{{ "/organizers/" | prepend: site.baseurl }}">Organizers</a>
  </div>
</nav>
