---
layout: default
---
<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
            <div class="title-cell">
                <h1 class="c-header__title">Vis4PandEmRes Workshop</h1>
				<h3 class="c-header__subtitle">IEEE 2023 Workshop on Visualization for Pandemic and Emergency Responses</h3>
            </div>
        </div>
    </header>

    <div class="c-article__main" style="text-align: justify">
        {{ content }}
    </div>
</article>
