---
layout: default
---
<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
            <div class="title-cell">
                <h1 class="c-header__title">IEEE VIS Workshop on Visualization for Pandemic and Emergency Responses 2023 (Vis4PandEmRes)</h1>
				<h3 class="c-header__subtitle">Half-day workshop at <a style="color: white; text-decoration: underline;" href="https://ieeevis.org/year/2023/welcome">IEEE VIS</a>, Melbourne, Australia, 22-27 October</h3>
				<h3 class="c-header__subtitle">Workshop date: October 22 or 23, 2023</h3>
            </div>
        </div>
    </header>

    <div class="c-article__main" style="text-align: justify">
        {{ content }}
    </div>
</article>
